{% extends "base.html.twig" %}

{% block body %}
    
    <h1>Login Page</h1>

{% if error is defined %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_customer') }}" method="post">
    <label for="username">Email:</label>
    {% if last_username is defined %}
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    {% else %}
        <input type="text" id="username" name="_username" />
    {% endif %}
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    
{#    Implement CSRF #}

    <button type="submit">login</button>
</form>

{% endblock %}