security:          
    encoders:
        App\Entity\Admin: bcrypt
        App\Entity\User:  bcrypt
            
    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN]
        
    providers:
        chain_provider:
            chain:
                providers: [admin, user]
        admin:
            entity: { class: App:Admin, property: email }
        user:
            entity: { class: App:User, property: email }

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
            context: my_context
          
        admin_secured_area:
            pattern:   ^/admin
            anonymous: ~
            provider: admin
            form_login:
                login_path: /admin/login
                check_path: /admin/login
                default_target_path: /admin/users
            logout:
                path:   /logout
                target: /
            context: my_context
            
        user_secured_area:
            pattern:   ^/
            anonymous: ~
            provider: user
            form_login:
                login_path: /login
                check_path: /login
                default_target_path: /  
            logout:
                path:   /logout
                target: / 
            context: my_context
    
    access_control:
        - { path: ^/admin/login, roles: IS_AUTHENTICATED_ANONYMOUSLY,  ip: 127.0.0.1 }
        - { path: ^/admin/users, roles: ROLE_ADMIN }
        - { path: ^/profile, roles: ROLE_USER }
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: IS_AUTHENTICATED_ANONYMOUSLY }