{% extends "base.html.twig" %}

{% block body %}
    <h1>Category create page!</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}