{% extends "base.html.twig" %}

{% block body %}
    <h1>Store dashboard!</h1>
    
    <ul>
        <a href="{{ path('store_dashboard_product_add', { 'slug': store.slug }) }}">Add product</a>
    </ul>
    <ul>
        <a href="{{ path('store') }}">Back to store main page</a>
    </ul>
       
{% endblock %}