{% extends "base.html.twig" %}

{% block body %}
    <h1>Store page!</h1>

    {% if stores is not null %}
        {{ dump(stores) }}
    {% endif %}
    
    <a href="{{ path('store_create') }}">Create new store</a>
{% endblock %}