{% extends "base.html.twig" %}

{% block body %}
    <h1>Product add!</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.category) }}
    {{ form_end(form) }}
    
    <a href="{{ path('store_dashboard', { 'slug': slug }) }}">Back to store main page</a>
{% endblock %}